body {
    font-family: "sans-serif";
    padding: 10px;
    background-color: rgb(213, 210, 210);
}

.code {
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    background-color: rgb(81, 73, 73);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    height: 300px;
    resize: none;
    overflow-y: scroll;
}

.func {
    color: red;
}